/*  part 4 styling. */
.field-widget-gender-default .form-checkboxes {
  display: flex;
  flex-wrap: wrap;
}

.field-widget-gender-default .form-checkboxes .form-type-checkbox {
  width: 50%;
}

@media (min-width: 650px) {
  .field-widget-gender-default .form-checkboxes .form-type-checkbox {
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .field-widget-gender-default .form-checkboxes .form-type-checkbox {
    width: 25%;
  }
}
